Chat Booking 2.0/Booking workflow
{"createdAt":"2025-09-01T06:57:57.154Z","updatedAt":"2025-09-08T08:07:53.000Z","id":"gHwOvokS863VAKSC","name":"Travilzy websagent","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[256,816],"id":"f925b440-8747-4a60-aad8-59d0ea40bae7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ","mode":"list","cachedResultName":"Booking agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2082699378,"mode":"list","cachedResultName":"Booking Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit#gid=2082699378"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","Agency Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agency_Name', ``, 'string') }}","Booking ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_ID', ``, 'string') }}","Mobile Number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mobile_Number', ``, 'string') }}","Email Address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Address', ``, 'string') }}","Route":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Route', ``, 'string') }}","Vehicle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Vehicle', ``, 'string') }}","Remarks":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Remarks', ``, 'string') }}","Payment Status":"Pending","DATE":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DATE', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Booking ID","displayName":"Booking ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mobile Number","displayName":"Mobile Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Agency Name","displayName":"Agency Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Payment Status","displayName":"Payment Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Route","displayName":"Route","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vehicle","displayName":"Vehicle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remarks","displayName":"Remarks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[512,816],"id":"fb065ace-3987-404e-8518-1c63e0cfdd20","name":"Append row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2640,496],"id":"52e471db-0c0f-4c8a-8e52-8a4ce1686954","name":"Merge"},{"parameters":{"promptType":"define","text":"=User Messsage: {{ $('When chat message received').first().json.chatInput }}","options":{"systemMessage":"=You are Travizly AI Travel Assistant, a polite, efficient, and reliable travel booking bot.\nYour job is to help customers book rides only using the valid routes, vehicles, and dates provided in this system prompt.\nYou must never invent, skip, or alter entries. Every output must strictly follow the attached database and conversation flow.\n\n🔑 Core Rules\n\nData Source\n\nAll routes, vehicles, capacities, and prices must come only from the Transport Data block provided inside this system prompt.\n\nNever add, skip, or invent entries.\n\nDeduplicate results by {Route + Vehicle Type + Price} before showing.\n\nDate Validation\n\nThe only valid travel dates are those in:\n{{ $('Code1').first().json.dates }}\n\nDates must be provided in DD/MM/YYYY format only.\n\nIf a date is not in the list → reply:\n\"The travel date must be within the next 90 days. Please provide a valid date in DD/MM/YYYY format.\"\n\nFormat Rules\n\nAll responses must be plain text only (no JSON, no markdown, no bullet emojis except 🚗 🚙 🚐 as given).\n\nEvery booking detail must appear on a new line. Never merge into a paragraph.\n\nDo not break or reformat the booking confirmation structure.\n\nBooking ID\n\nGenerated only after customer confirms.\n\nMust be 10-digit alphanumeric (random letters + numbers).\n\nPayment\n\nPayment status must always stay as Pending.\n\nDo not modify payment status in chat.\n\nAdmin Mode\n\nIf the user is admin@889922, allow search and view of bookings by Booking ID, email, or mobile.\n\n🚖 Transport Data (Main Source of Truth)\n\nUse this data only.\n\n{{ $json.transportData.map((item, i) => \n  `${i+1}. ${item[\"Secor / Vehicle Type\"]} - ${item[\"Trip Type\"]}\\n   🚗 Sedan: ${item[\"Sedan Camry/ Sonata (2-3 Pax)\"]} SAR\\n   🚙 Ford: ${item[\"Ford Taurus (2-3 Pax)\"]} SAR\\n   🚐 Hyundai Staria: ${item[\"Hyundai H1 Staria/ Starex (3-5 Pax)\"]} SAR`\n).join(\"\\n\\n\") }}\n\n\n🚖 Conversation Flow\n1️⃣ Greeting & City Selection\n\nWelcome to Travizly AI Travel Assistant! 🚖✈🏨\nI can help you book your ride instantly.\n\n✅ Choose a comfortable vehicle\n✅ Provide your details (Name, Email, Mobile, Agency, Date)\n✅ Get instant booking confirmation\n\nHere are the main departure cities available (deduplicated from Transport Data):\n(List cities as numbered options, e.g., 1. Riyadh, 2. Jeddah, …).\n\n👉 Please select your departure city.\n\n2️⃣ Show Available Routes for City\n\nIf the customer selects a valid city {selected_city}:\n\nHere are the routes available from {selected_city} (deduplicated from Transport Data):\n(List as numbered options).\n\n👉 “Please let me know the route you’d like to book.”\n\n3️⃣ Ask for Travel Date\n\nPlease provide your travel date (DD/MM/YYYY).\n\n⚠️ Validation:\n\nThe date must match exactly one of the allowed dates in {{ $('Code1').first().json.dates }}.\n\nIf not in the list → send rejection message from Rule 2.\n\n4️⃣ Show Available Vehicles\n\nOnce a valid date and route are chosen:\n\nHere are the vehicles available for {selected_route}:\n(List vehicles with capacity and price, deduplicated from Transport Data).\n\n👉 “Please let me know the vehicle you’d like to book.”\n\n5️⃣ Ask for Booking Details\n\nWhen a vehicle is chosen {selected_vehicle}:\n\nGreat choice! 🚘\nPlease provide your booking details in this format:\n\nFull Name  \nEmail  \nMobile Number  \nAgency Name (if applicable)\n\n6️⃣ Pre-Confirmation (Pending)\n\nHere are your booking details:\n\nPassenger: {name}  \nEmail: {email}  \nMobile: {mobile}  \nDate: {date}  \nAgency: {agency}  \nRoute: {selected_route}  \nVehicle: {selected_vehicle} ({capacity})  \nTotal Amount: {price} SAR  \nBooking Status: Pending  \n\n\n👉 “Please confirm to proceed with your booking, or let me know if you want any changes.”\n\n7️⃣ Final Confirmation\n\nIf customer confirms:\n\nGenerate a 10-digit alphanumeric Booking ID.\n\nSave booking to database.\n\nSend final confirmation in strict format:\n\n✅ Booking Confirmed!  \nBooking ID: {booking_id}  \nPassenger: {name}  \nEmail: {email}  \nMobile: {mobile}  \nDate: {date}  \nAgency: {agency}  \nRoute: {selected_route}  \nVehicle: {selected_vehicle} ({capacity})  \nTotal Amount: {price} SAR  \nPayment Status: Pending  \nBooking Status: Confirmed  \n\n\n📧 A confirmation email will be sent shortly.\nThank you for choosing Travizly Transport!\n\n📌 Bot Rules Recap\n\nOnly use Transport Data inside this system prompt (not Google Sheet).\n\nDeduplicate cities, routes, and vehicles.\n\nDo not skip or alter entries.\n\nOnly allow valid travel dates.\n\nPlain text only, strict format.\n\nBooking ID generated only after confirmation.\n\nPayment status always Pending.\n\nAdmin mode enabled for admin@889922."}},"id":"83a86ccf-6b05-4605-a523-36bf2347863b","name":"Booking Manager","type":"@n8n/n8n-nodes-langchain.agent","position":[384,592],"typeVersion":1.6},{"parameters":{"method":"POST","url":"https://api.stripe.com/v1/checkout/sessions","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"mode","value":"payment"},{"name":"success_url","value":"https://travizly.com"},{"name":"cancel_url","value":"https://travizly.com"},{"name":"line_items[0][price_data][currency]","value":"={{ $json.amountCurrency }}"},{"name":"line_items[0][price_data][unit_amount]","value":"={{ $json.amountValue }}00"},{"name":"line_items[0][price_data][product_data][name]","value":"=Booking Details: \n{{ $json.route }} - {{ $json.vehicle }}"},{"name":"line_items[0][quantity]","value":"1"},{"name":"metadata[session_id]","value":"={{ $('Code5').first().json.sessionId }}"},{"name":"metadata[bookingId]","value":"={{ $json.bookingId }}"},{"name":"metadata[passenger]","value":"={{ $json.passenger }}"},{"name":"metadata[email]","value":"={{ $('Code').item.json.email }}"},{"name":"metadata[phone]","value":"={{ $('Code').item.json.phone }}"},{"name":"metadata[agency]","value":"={{ $('Code').item.json.agency }}"},{"name":"metadata[route]","value":"={{ $('Code').item.json.route }}"},{"name":"metadata[vehicle]","value":"={{ $('Code').item.json.vehicle }}"},{"name":"=metadata[totalAmount]","value":"={{ $('Code').item.json.totalAmount }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,496],"id":"76ae3ff3-d09c-4962-866e-2955b1f16fce","name":"Strip URL Creator","credentials":{"httpBearerAuth":{"id":"NfRbgMweXY562Kds","name":"Bearer Auth account 2"},"stripeApi":{"id":"FuM08HtjfwnvHxHf","name":"Stripe account"}}},{"parameters":{"sendTo":"={{ $json.email }}","subject":" Booking Confirmed! - Travizly","emailType":"text","message":"={{ $('Booking Manager').item.json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2416,656],"id":"356fa0ad-6ddd-486d-b23d-dfeaa7cbc77a","name":"Send Confirmation Mail","webhookId":"ca8147d0-e004-465c-92a0-59010fc32ab7","credentials":{"gmailOAuth2":{"id":"PWgDj53dNZ5knDgb","name":"SARAN LINUX - MAIL"}}},{"parameters":{"jsCode":"const bookingDetails = $json[\"output\"];\n\n// Extract Booking ID\nconst bookingIdMatch = bookingDetails.match(/Booking ID:\\s*([^\\n]+)/);\nconst bookingId = bookingIdMatch ? bookingIdMatch[1].trim() : null;\n\n// Extract Passenger\nconst passengerMatch = bookingDetails.match(/Passenger:\\s*([^\\n]+)/);\nconst passenger = passengerMatch ? passengerMatch[1].trim() : null;\n\n// Extract Email\nconst emailMatch = bookingDetails.match(/Email:\\s*([^\\n]+)/);\nconst email = emailMatch ? emailMatch[1].trim() : null;\n\n// Extract Phone\nconst phoneMatch = bookingDetails.match(/Mobile:\\s*([^\\n]+)/);\nconst phone = phoneMatch ? phoneMatch[1].trim() : null;\n\n// Extract Agency\nconst agencyMatch = bookingDetails.match(/Agency:\\s*([^\\n]+)/);\nconst agency = agencyMatch ? agencyMatch[1].trim() : null;\n\n// Extract Route\nconst routeMatch = bookingDetails.match(/Route:\\s*([^\\n]+)/);\nconst route = routeMatch ? routeMatch[1].trim() : null;\n\n// Extract Vehicle\nconst vehicleMatch = bookingDetails.match(/Vehicle:\\s*([^\\n]+)/);\nconst vehicle = vehicleMatch ? vehicleMatch[1].trim() : null;\n\n// Extract Total Amount\nconst amountMatch = bookingDetails.match(/Total Amount:\\s*([^\\n]+)/);\nlet totalAmount = null;\nlet amountValue = null;\nlet amountCurrency = null;\n\nif (amountMatch) {\n  totalAmount = amountMatch[1].trim();\n  const parts = totalAmount.match(/(\\d+)\\s*([A-Za-z]+)/);\n  if (parts) {\n    amountValue = parseInt(parts[1], 10);\n    amountCurrency = parts[2];\n  }\n}\n\n// Extract Payment Status\nconst paymentMatch = bookingDetails.match(/Payment Status:\\s*([^\\n]+)/);\nconst paymentStatus = paymentMatch ? paymentMatch[1].trim() : null;\n\n// Extract Booking Status\nconst bookingStatusMatch = bookingDetails.match(/Booking status\\s*[-:]\\s*([^\\n]+)/i);\nconst bookingStatus = bookingStatusMatch ? bookingStatusMatch[1].trim() : null;\n\n// Return as structured fields\nreturn [{\n  bookingId,      // \"Sankar-9789148783-MADINAH-FORDTAURUS\"\n  passenger,      // \"Sankar\"\n  email,          // \"saranraj2005jsus@gmail.com\"\n  phone,          // \"9789148783\"\n  agency,         // \"VSP Agency\"\n  route,          // \"Madinah Airport to Madinah Hotel (Arrival)\"\n  vehicle,        // \"Ford Taurus (2–3 Pax)\"\n  totalAmount,    // \"250 SAR\"\n  amountValue,    // 250\n  amountCurrency, // \"SAR\"\n  paymentStatus,  // \"Pending\"\n  bookingStatus   // \"Confirmed\"\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,592],"id":"21db86bc-434c-4c0a-8543-507a18ac7a0b","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"026a3041-4b87-44f0-87a4-9ebeb3814b57","leftValue":"={{ $json.bookingId }}","rightValue":"=null","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"449ea612-a453-4d5b-9777-b19fb6cd3084","leftValue":"={{ $json.bookingStatus }}","rightValue":"Confirmed","operator":{"type":"string","operation":"equals"}},{"id":"20745915-8564-4c05-a0ad-d38300db2123","leftValue":"={{ $json.paymentStatus }}","rightValue":"Pending","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1296,592],"id":"20f6e371-d8f4-4874-9464-1ed540c8e82f","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ","mode":"list","cachedResultName":"Booking agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2082699378,"mode":"list","cachedResultName":"Booking Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit#gid=2082699378"},"filtersUI":{"values":[{"lookupColumn":"Booking ID","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"},{"lookupColumn":"Email Address","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values2_Value', ``, 'string') }}"},{"lookupColumn":"Mobile Number","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values2_Value', ``, 'string') }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[640,816],"id":"a2d50728-1938-4fd3-8bdc-973ecefa911c","name":"Booking Details","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-864,592],"id":"8a0311dd-53ec-427a-a9a4-5143370857c9","name":"When chat message received","webhookId":"44f643b3-a843-4959-8d9c-0db8c25ff552"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2416,416],"id":"258eb0a6-ccc8-40b2-86f8-3fed1440d1c3","name":"Respond to Webhook"},{"parameters":{"jsCode":"// Get today's date\nconst today = new Date();\n\n// Array to store all dates\nconst dates = [];\n\n// Loop for next 90 days\nfor (let i = 1; i <= 90; i++) {\n  const nextDate = new Date(today);\n  nextDate.setDate(today.getDate() + i);\n\n  const day = String(nextDate.getDate()).padStart(2, '0');\n  const month = String(nextDate.getMonth() + 1).padStart(2, '0'); // months are 0-based\n  const year = nextDate.getFullYear();\n\n  const formattedDate = `${day}/${month}/${year}`;\n  dates.push(formattedDate);\n}\n\n// Join all dates into a single string separated by \\n\nconst allDates = dates.join(\"\\n\");\n\n// Return in n8n format\nreturn [\n  {\n    json: {\n      dates: allDates,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,592],"id":"6538ea93-0470-4c53-ac3e-b0024300be51","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"b29b48ea-c929-42dc-92d7-737d22abd43e","name":"url","value":"={{ $json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,496],"id":"b15b0bee-0039-4c4a-bf09-f68f0f70edad","name":"Edit Fields"},{"parameters":{"jsCode":"// n8n Code Node (JavaScript)\n// Works with Merge (append) → multiple items\n\nconst items = $input.all();\n\n// Find fields from different items\nlet outputText = \"\";\nlet urlText = \"\";\n\nfor (const item of items) {\n  if (item.json.output) {\n    outputText = item.json.output;\n  }\n  if (item.json.url) {\n    urlText = item.json.url;\n  }\n}\n\n// Clean \\n into real line breaks\noutputText = outputText.replace(/\\\\n/g, \"\\n\").trim();\n\n// Build final message\nconst bookingOutput = $('Booking Manager').first().json.output || \"\";\n\nconst finalMessage = `${bookingOutput}\n\n${outputText}\n\n💳 Please complete your payment here: ${urlText}`;\n\nreturn [\n  {\n    json: {\n      output: finalMessage\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,416],"id":"9c9b5fcd-2148-4d80-809d-ec705d371df6","name":"Code2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1968,416],"id":"dda1dd2d-09cb-4735-92b7-300a684fc935","name":"Merge1"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1520,832],"id":"bcb18683-1a22-441c-b981-198d3c02ed96","name":"Respond to Webhook1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.bookingId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"c7122fdf-ff37-440e-b04a-024bb4e7d844"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b2d9dc7d-4d57-44e2-b559-e88014f349d8","leftValue":"={{ $json.bookingId }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1072,592],"id":"85467432-ce50-4e0f-8636-e1920d38f660","name":"Switch"},{"parameters":{"jsCode":"// n8n Code Node (JavaScript)\n\n// Get output from \"Booking Manager\"\nlet outputText = $('Booking Manager').first().json.output || \"\";\n\n// Replace \"\\n\" with actual new lines\noutputText = outputText.replace(/\\\\n/g, \"\\n\").trim();\n\n// Build final message\nconst finalMessage = `${outputText}`;\n\nreturn [\n  {\n    json: {\n      output: finalMessage\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,832],"id":"096a5e7a-ac9d-4265-9ffb-1397d69fcba4","name":"Code3"},{"parameters":{"documentId":{"__rl":true,"value":"1-4peqRcSMTIHG_d9rGkCN_szVezAiXoccC97yFJP6po","mode":"list","cachedResultName":"Travizly Tranport Rate for AI Agent Database ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-4peqRcSMTIHG_d9rGkCN_szVezAiXoccC97yFJP6po/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Transp Rate Card","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-4peqRcSMTIHG_d9rGkCN_szVezAiXoccC97yFJP6po/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-192,592],"id":"eeb1e2a6-2c67-44db-beb2-d8e5734c1a91","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"gTPcFaYVPMIZ2kH3","name":"Thileepan - n8n"}}},{"parameters":{"jsCode":"// Take all rows from previous node\nconst rows = $json;\n\n// Convert to pretty JSON string\nconst systemPrompt = JSON.stringify(rows, null, 2);\n\nreturn [\n  {\n    json: {\n      systemPrompt\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,592],"id":"a2515527-8dee-4538-82b6-cfddd9ae7692","name":"Code4"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code5').last().json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[384,816],"id":"ad2380ed-ff64-43d7-b354-b64a5a28aa44","name":"Simple Memory"},{"parameters":{"jsCode":"const triggerData = $('When chat message received').all()[0].json;\n\nreturn [\n  {\n    json: {\n      sessionId: triggerData.sessionId\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,592],"id":"d49905cb-bfe1-48e7-9413-dd4604bfa312","name":"Code5"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Booking Manager","type":"ai_languageModel","index":0}]]},"Append row in sheet in Google Sheets":{"ai_tool":[[{"node":"Booking Manager","type":"ai_tool","index":0}]]},"Booking Manager":{"main":[[{"node":"Code","type":"main","index":0}]]},"Strip URL Creator":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send Confirmation Mail":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[{"node":"Strip URL Creator","type":"main","index":0},{"node":"Send Confirmation Mail","type":"main","index":0}]]},"Booking Details":{"ai_tool":[[{"node":"Booking Manager","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If","type":"main","index":0},{"node":"Merge1","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}],[]]},"Code3":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Booking Manager","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Booking Manager","type":"ai_memory","index":0}]]},"Code5":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"029cbb10-c158-49fa-b4c2-ea71ab7bf796","triggerCount":1,"shared":[{"createdAt":"2025-09-01T06:57:57.156Z","updatedAt":"2025-09-01T06:57:57.156Z","role":"workflow:owner","workflowId":"gHwOvokS863VAKSC","projectId":"WTQM0Nsb5YipcTUX","project":{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:32:33.777Z","id":"WTQM0Nsb5YipcTUX","name":"DCXworks Private Limited <admin@dcxworks.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:31:14.290Z","role":"project:personalOwner","userId":"32e5174a-8499-41d4-a7e3-46e06856d4d5","projectId":"WTQM0Nsb5YipcTUX","user":{"createdAt":"2025-07-23T08:31:13.588Z","updatedAt":"2025-09-08T05:13:52.000Z","id":"32e5174a-8499-41d4-a7e3-46e06856d4d5","email":"admin@dcxworks.com","firstName":"DCXworks","lastName":"Private Limited","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-23T08:32:53.840Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"digital-agency","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"OiOxeHtpT13Rj2Hx","userActivatedAt":1753271399817,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutHttpRequest":true},"npsSurvey":{"responded":true,"lastShownAt":1755136428381}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-07","isPending":false}}]}}],"tags":[]}