WhatsApp-Booking-Agent---N8N/Booking Manger
{"createdAt":"2025-08-12T08:35:03.861Z","updatedAt":"2025-09-05T12:54:39.000Z","id":"ZMD3KJVVfKhGrqM5","name":"SARAN - Whatsapp - Travel Booking Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1-4peqRcSMTIHG_d9rGkCN_szVezAiXoccC97yFJP6po","mode":"list","cachedResultName":"Travizly Tranport Rate for AI Agent Database ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-4peqRcSMTIHG_d9rGkCN_szVezAiXoccC97yFJP6po/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-4peqRcSMTIHG_d9rGkCN_szVezAiXoccC97yFJP6po/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[0,304],"id":"1f64176b-cac5-44d5-959b-30a1a96714c4","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"gTPcFaYVPMIZ2kH3","name":"Thileepan - n8n"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-256,304],"id":"b5fbc9df-d345-4d72-b042-52ed39a1a1c4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ","mode":"list","cachedResultName":"Booking agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2082699378,"mode":"list","cachedResultName":"Booking Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit#gid=2082699378"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","Agency Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agency_Name', ``, 'string') }}","Booking ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_ID', ``, 'string') }}","Mobile Number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mobile_Number', ``, 'string') }}","Email Address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Address', ``, 'string') }}","Route":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Route', ``, 'string') }}","Vehicle":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Vehicle', ``, 'string') }}","Remarks":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Remarks', ``, 'string') }}","Payment Status":"Pending"},"matchingColumns":[],"schema":[{"id":"Booking ID","displayName":"Booking ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mobile Number","displayName":"Mobile Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Agency Name","displayName":"Agency Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Payment Status","displayName":"Payment Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Route","displayName":"Route","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vehicle","displayName":"Vehicle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remarks","displayName":"Remarks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[128,304],"id":"9625202c-3e40-4cff-ae7f-398fd70e62e7","name":"Append row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1360,64],"id":"9cd7d2ec-6c34-46fb-b608-7fa1a90f224b","name":"Merge"},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{"systemMessage":"=\nYou are a helpful, polite, and efficient travel booking assistant for Travizly Transport, assisting customers via WhatsApp.\n\nYou have access to a transport rates database with the following columns:\n\nRoute (e.g., Jeddah Airport to Jeddah Hotel (Arrival))\n\nVehicle Types with price and passenger capacity\n\n🚗 Example Vehicle Types:\n\nSedan Camry or Sonata – 240 SAR (2–3 Pax)\n\nFord Taurus – 250 SAR (2–3 Pax)\n\nHyundai H1 Staria or Starex – 305 SAR (3–5 Pax)\n\nGMC YukonXL 22/24 – 400 SAR (6–7 Pax)\n\nNew GMC YukonXL 25 – 420 SAR (6–7 Pax)\n\nHiace High Roof – 450 SAR (7–9 Pax)\n\nToyota Coaster – 500 SAR (10–13 Pax)\n\n💬 Conversation Flow\n1️⃣ GREETING & ROUTE LIST\nImmediately greet the customer:\n\nWelcome to Travizly AI Travel Assistant! 🚖✈🏨\nI’m here to help you book your ride instantly across our available travel routes.\n\n✅ Choose a comfortable vehicle (with seating & price)\n✅ Provide your name, email, mobile, and agency name\n✅ Get instant booking confirmation\n\nWhether you're heading to your hotel, the airport, or between cities — your ride is just a few messages away.\n\nHere are the routes you can book with me:\n\nThen list each available route from {route_list} as a numbered list, so the customer can simply reply with the number or name.\n\nExample:\n\nJeddah Airport to Makkah Hotel\n\nMakkah Hotel to Jeddah Airport\n\nMadinah Airport to Makkah Hotel\n\n2️⃣ SHOW AVAILABLE VEHICLES\nIf user chooses a valid route {selected_route}:\n\nHere are the available vehicles for {selected_route}:\n\nList vehicles with prices and capacity in bullet points:\n\nSedan Camry or Sonata – 240 SAR (2–3 Pax)\n\nHyundai H1 Staria – 305 SAR (3–5 Pax)\n\nGMC YukonXL 22/24 – 400 SAR (6–7 Pax)\n\nAsk:\n\nPlease let me know vehicle you’d like to book.\n\n3️⃣ ASK FOR BOOKING DETAILS\nOnce vehicle {selected_vehicle} is chosen:\n\nGreat choice! 🚘\nPlease provide your details to confirm the booking:\nFull Name – Email – Mobile Number – Agency Name (if applicable)\n\n4️⃣ PRE-CONFIRMATION SUMMARY\nWhen details are received, generate a unique 10-digit alphanumeric Booking ID {booking_id} and reply:\n\nIn this step Booking should not be save in the Google Sheet/database\n\nHere are your booking details:\n\nPassenger: {name}\nEmail: {email}\nMobile: {mobile}\nAgency: {agency}\nRoute: {selected_route}\nVehicle: {selected_vehicle} ({capacity})\nTotal Amount: {price} SAR\nBooking Status - Pending\n\nPlease confirm to proceed with your booking, or let me know if you want to make any changes.\n\n5️⃣ FINAL CONFIRMATION\nIf user confirm the booking:\n\nSave booking to Google Sheet/database. (Update all details (Booking ID,Passenger,Email,Mobile,Agency,Route,Vehicle,Total Amount) in the Google Sheet /database is mandatory without leaving any details blank is anything is missing then ask the user to provide the missing details,is any thing is exceeds then update it on the remarks column)\n\nReply:\n\n✅ Booking Confirmed!\nBooking ID: {booking_id}\nPassenger: {name}\nEmail: {email}\nMobile: {mobile}\nAgency: {agency}\nRoute: {selected_route}\nVehicle: {selected_vehicle} ({capacity})\nTotal Amount: {price} SAR\nPayment Status: Pending\nBooking Status - Confirmed (This field will be included only for new booking confirmations. For other queries, such as retrieving booking details, it will not be included.)\n\n\n📧 A confirmation email will be sent shortly.\nThank you for choosing Travizly Transport!\n\n📌 Bot Rules for WhatsApp\nNo slashes / or underscores _ — use natural names and numbers for selection. Agent should help only within the booking context and should not help with other tasks. Also shouldn't share other booking details.\n\nIf user provides an invalid route or vehicle:\n\nTry to match with available routes and try to get confirmation and if still can't match then request to choose proper routes.\n\nIf user requests list of services:\nSend routes as a numbered list in one message.\n\nAlways confirm all details before final booking.\n\nBooking ID must be unique (10 digits alphanumeric).\n\nSave confirmed bookings to Google Sheet for retrieval later.\n\nUse simple memory for in-progress bookings only — for confirmed bookings, always use the Google Sheet to avoid losing updates (e.g., payment status).\n\nThe Booking ID should be generate only of the booking get confirmed by the client/customer and the payment status also included only on the final booking confirmed message\n\nYou're not permitted to update the payment status or any payment updating things, If the Payment is paid then the system will automatically marked the booking as paid\n\nYou can access t0 share the booking details if the customer their booking ID, mobile number or email  - you can access the booking details on the booking details tools you have to read the retrive the booking details\n\nIf the message starts with (admin@889922) then run on the adminstative mode and youn don't need to follow the steps and directly reply with the booking details\n\n\n*If the person send all the details in the stating of the conversation means then replay the (without follows the steps directly send the all the booking details) -> 5️⃣ FINAL CONFIRMATION\nIf user confirm the booking:\n\nSave booking to Google Sheet/database.\n\nReply:\n\n✅ Booking Confirmed!\nBooking ID: {booking_id}\nPassenger: {name}\nEmail: {email}\nMobile: {mobile}\nAgency: {agency}\nRoute: {selected_route}\nVehicle: {selected_vehicle} ({capacity})\nTotal Amount: {price} SAR\nPayment Status: Pending\nBooking Status - Confirmed (This field will be included only for new booking confirmations. For other queries, such as retrieving booking details, it will not be included.)\n\n\n📧 A confirmation email will be sent shortly.\nThank you for choosing Travizly Transport!\n"}},"id":"c5a17d54-2e47-41db-ad32-39d325337e82","name":"Booking Manager","type":"@n8n/n8n-nodes-langchain.agent","position":[-96,80],"typeVersion":1.6},{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":["all"]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-480,80],"id":"93ec7efd-bf2e-4b3d-aa73-8553dc2fd8a7","name":"WhatsApp Trigger","webhookId":"0e332a67-7fd3-4c26-b683-48d02ad00106","credentials":{"whatsAppTriggerApi":{"id":"GiXMJ4pAO6TIfUOW","name":"Saran - WhatsApp OAuth "}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.metadata.phone_number_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-128,304],"id":"bb9d33c6-4b5c-4678-bf62-8a5e9e24952a","name":"Simple Memory"},{"parameters":{"method":"POST","url":"https://api.stripe.com/v1/checkout/sessions","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"mode","value":"payment"},{"name":"success_url","value":"https://travizly.com"},{"name":"cancel_url","value":"https://travizly.com"},{"name":"line_items[0][price_data][currency]","value":"={{ $json.amountCurrency }}"},{"name":"line_items[0][price_data][unit_amount]","value":"={{ $json.amountValue }}00"},{"name":"line_items[0][price_data][product_data][name]","value":"=Booking Details: \n{{ $json.route }} - {{ $json.vehicle }}"},{"name":"line_items[0][quantity]","value":"1"},{"name":"metadata[whats_chat_id]","value":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}"},{"name":"metadata[WhatsApp_from]","value":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},{"name":"metadata[bookingId]","value":"={{ $json.bookingId }}"},{"name":"metadata[passenger]","value":"={{ $json.passenger }}"},{"name":"metadata[email]","value":"={{ $('Code').item.json.email }}"},{"name":"metadata[phone]","value":"={{ $('Code').item.json.phone }}"},{"name":"metadata[agency]","value":"={{ $('Code').item.json.agency }}"},{"name":"metadata[route]","value":"={{ $('Code').item.json.route }}"},{"name":"metadata[vehicle]","value":"={{ $('Code').item.json.vehicle }}"},{"name":"=metadata[totalAmount]","value":"={{ $('Code').item.json.totalAmount }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,80],"id":"ac480581-a6b2-4b05-8dd1-14b14c382024","name":"Strip URL Creator","credentials":{"httpBearerAuth":{"id":"NfRbgMweXY562Kds","name":"Bearer Auth account 2"},"stripeApi":{"id":"FuM08HtjfwnvHxHf","name":"Stripe account"}}},{"parameters":{"sendTo":"={{ $json.email }}","subject":" Booking Confirmed! - Travizly","emailType":"text","message":"={{ $('Booking Manager').item.json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1136,272],"id":"4ce6bed3-719f-4103-bf19-1d43fe9d7bb3","name":"Send Confirmation Mail","webhookId":"ca8147d0-e004-465c-92a0-59010fc32ab7","credentials":{"gmailOAuth2":{"id":"PWgDj53dNZ5knDgb","name":"SARAN LINUX - MAIL"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{"previewUrl":true}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1136,-112],"id":"bb581a3a-4485-4ba9-8c00-3aadfa56a01a","name":"Send","webhookId":"ab2ae93b-d3b0-4b04-acee-234526b7f172","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"=Please complete the payment to confirm your booking.  \n*Payment Link:*  \n{{ $json.url }}","additionalFields":{"previewUrl":true}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1136,80],"id":"3a8cbe66-fe2f-4393-abd0-f52ad47f7f00","name":"Send Payment URL","webhookId":"ab2ae93b-d3b0-4b04-acee-234526b7f172","credentials":{"whatsAppApi":{"id":"DnXLxxHGaCh0Q0sc","name":"Saran Whatsapp"}}},{"parameters":{"jsCode":"const bookingDetails = $json[\"output\"];\n\n// Extract Booking ID\nconst bookingIdMatch = bookingDetails.match(/Booking ID:\\s*([^\\n]+)/);\nconst bookingId = bookingIdMatch ? bookingIdMatch[1].trim() : null;\n\n// Extract Passenger\nconst passengerMatch = bookingDetails.match(/Passenger:\\s*([^\\n]+)/);\nconst passenger = passengerMatch ? passengerMatch[1].trim() : null;\n\n// Extract Email\nconst emailMatch = bookingDetails.match(/Email:\\s*([^\\n]+)/);\nconst email = emailMatch ? emailMatch[1].trim() : null;\n\n// Extract Phone\nconst phoneMatch = bookingDetails.match(/Mobile:\\s*([^\\n]+)/);\nconst phone = phoneMatch ? phoneMatch[1].trim() : null;\n\n// Extract Agency\nconst agencyMatch = bookingDetails.match(/Agency:\\s*([^\\n]+)/);\nconst agency = agencyMatch ? agencyMatch[1].trim() : null;\n\n// Extract Route\nconst routeMatch = bookingDetails.match(/Route:\\s*([^\\n]+)/);\nconst route = routeMatch ? routeMatch[1].trim() : null;\n\n// Extract Vehicle\nconst vehicleMatch = bookingDetails.match(/Vehicle:\\s*([^\\n]+)/);\nconst vehicle = vehicleMatch ? vehicleMatch[1].trim() : null;\n\n// Extract Total Amount\nconst amountMatch = bookingDetails.match(/Total Amount:\\s*([^\\n]+)/);\nlet totalAmount = null;\nlet amountValue = null;\nlet amountCurrency = null;\n\nif (amountMatch) {\n  totalAmount = amountMatch[1].trim();\n  const parts = totalAmount.match(/(\\d+)\\s*([A-Za-z]+)/);\n  if (parts) {\n    amountValue = parseInt(parts[1], 10);\n    amountCurrency = parts[2];\n  }\n}\n\n// Extract Payment Status\nconst paymentMatch = bookingDetails.match(/Payment Status:\\s*([^\\n]+)/);\nconst paymentStatus = paymentMatch ? paymentMatch[1].trim() : null;\n\n// Extract Booking Status\nconst bookingStatusMatch = bookingDetails.match(/Booking status\\s*[-:]\\s*([^\\n]+)/i);\nconst bookingStatus = bookingStatusMatch ? bookingStatusMatch[1].trim() : null;\n\n// Return as structured fields\nreturn [{\n  bookingId,      // \"Sankar-9789148783-MADINAH-FORDTAURUS\"\n  passenger,      // \"Sankar\"\n  email,          // \"saranraj2005jsus@gmail.com\"\n  phone,          // \"9789148783\"\n  agency,         // \"VSP Agency\"\n  route,          // \"Madinah Airport to Madinah Hotel (Arrival)\"\n  vehicle,        // \"Ford Taurus (2–3 Pax)\"\n  totalAmount,    // \"250 SAR\"\n  amountValue,    // 250\n  amountCurrency, // \"SAR\"\n  paymentStatus,  // \"Pending\"\n  bookingStatus   // \"Confirmed\"\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,176],"id":"1bb917ba-cfce-46e3-beae-b5c4fd4b9311","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"026a3041-4b87-44f0-87a4-9ebeb3814b57","leftValue":"={{ $json.bookingId }}","rightValue":"=null","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"449ea612-a453-4d5b-9777-b19fb6cd3084","leftValue":"={{ $json.bookingStatus }}","rightValue":"Confirmed","operator":{"type":"string","operation":"equals"}},{"id":"20745915-8564-4c05-a0ad-d38300db2123","leftValue":"={{ $json.paymentStatus }}","rightValue":"Pending","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,176],"id":"6c0cabbf-ab6a-459d-b349-2d6632331610","name":"If"},{"parameters":{"content":"\n## 🤖 Booking Manager Agent\n- Acts as Travizly’s WhatsApp booking assistant  \n- Greets users and shows available travel routes  \n- Displays vehicle options with price & capacity  \n- Collects passenger details (Name, Email, Mobile, Agency)  \n- Generates unique Booking ID and shows booking summary  \n- Saves confirmed bookings into Google Sheets  \n- Uses memory only for ongoing chats, confirmed data stored in Sheets  \n- Ensures polite, simple, and booking-focused conversations  \n\n## 📝 Booking Manager Prompt  \nYou are Travizly AI Booking Assistant (WhatsApp).  \n\n**Flow:**  \n1. Greet + show route list {route_list}  \n2. If route valid → show vehicles (price + capacity)  \n3. Ask: Name, Email, Mobile, Agency  \n4. Generate unique 10-digit Booking ID → show summary  \n5. On confirm → save to Google Sheet + reply ✅ Booking Confirmed!  \n\n**Rules:**  \n- Stay in booking context only  \n- No `/` or `_`, use natural names & numbers  \n- If invalid → suggest closest or ask again  \n- Confirm before saving  \n- Memory = in-progress | Google Sheet = confirmed  \n- If all details given upfront → go straight to confirmation ✅","height":1008,"width":704,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-320,-560],"typeVersion":1,"id":"156e009b-fdfc-43ed-9455-227e1b1860e8","name":"Sticky Note"},{"parameters":{"content":"## 📲 Travizly Ai booking agent (WhatsApp)\n\n**Purpose:**  \nEnd-to-end automated travel booking via WhatsApp using n8n, OpenAI, Google Sheets, Gmail & Stripe.  \n\n**Workflow Overview:**  \n1️⃣ Customer starts booking on WhatsApp  \n2️⃣ AI Agent guides → route, vehicle, details  \n3️⃣ Booking Manager stores data in Google Sheets  \n4️⃣ Booking summary generated → sent for confirmation  \n5️⃣ Stripe payment link shared → customer pays securely  \n6️⃣ On success → WhatsApp + Email confirmations sent  \n7️⃣ Receipt automatically emailed  \n\n**AI Role:**  \n- Conversational assistant (WhatsApp)  \n- Validates routes, vehicles & user details  \n- Maintains context with Simple Memory  \n- Generates unique Booking ID  \n\n**Integrations:**  \n- WhatsApp Business API → User interaction  \n- Google Sheets → Booking database  \n- Stripe → Payment processing  \n- Gmail → Email confirmations  \n\n**Impact:**  \n⚡ Fast, reliable & user-friendly booking system  \n⚡ Eliminates manual errors with AI validation  \n⚡ Scales easily for transport operators  \n","height":656,"width":528,"color":4},"type":"n8n-nodes-base.stickyNote","position":[416,-624],"typeVersion":1,"id":"5e4fd2fb-8208-4abf-b5d9-fbe2ada40dc1","name":"Sticky Note1"},{"parameters":{"documentId":{"__rl":true,"value":"1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ","mode":"list","cachedResultName":"Booking agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2082699378,"mode":"list","cachedResultName":"Booking Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit#gid=2082699378"},"filtersUI":{"values":[{"lookupColumn":"Booking ID","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"},{"lookupColumn":"Email Address","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values2_Value', ``, 'string') }}"},{"lookupColumn":"Mobile Number","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values2_Value', ``, 'string') }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[256,304],"id":"c4e43886-ceec-4a81-96fb-257e95e9d002","name":"Booking Details","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}}],"connections":{"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"Booking Manager","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Booking Manager","type":"ai_languageModel","index":0}]]},"Append row in sheet in Google Sheets":{"ai_tool":[[{"node":"Booking Manager","type":"ai_tool","index":0}]]},"Booking Manager":{"main":[[{"node":"Send","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Booking Manager","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Booking Manager","type":"ai_memory","index":0}]]},"Strip URL Creator":{"main":[[{"node":"Send Payment URL","type":"main","index":0}]]},"Send Confirmation Mail":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Send":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Send Payment URL":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Strip URL Creator","type":"main","index":0},{"node":"Send Confirmation Mail","type":"main","index":0}]]},"Booking Details":{"ai_tool":[[{"node":"Booking Manager","type":"ai_tool","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timezone":"Asia/Kolkata"},"staticData":null,"meta":{"templateId":"2786","templateCredsSetupCompleted":true},"pinData":{},"versionId":"40ceb04d-0c4b-4c88-aa81-132c397707b5","triggerCount":1,"shared":[{"createdAt":"2025-08-12T08:35:03.864Z","updatedAt":"2025-08-12T08:35:03.864Z","role":"workflow:owner","workflowId":"ZMD3KJVVfKhGrqM5","projectId":"WTQM0Nsb5YipcTUX","project":{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:32:33.777Z","id":"WTQM0Nsb5YipcTUX","name":"DCXworks Private Limited <admin@dcxworks.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:31:14.290Z","role":"project:personalOwner","userId":"32e5174a-8499-41d4-a7e3-46e06856d4d5","projectId":"WTQM0Nsb5YipcTUX","user":{"createdAt":"2025-07-23T08:31:13.588Z","updatedAt":"2025-09-08T05:13:52.000Z","id":"32e5174a-8499-41d4-a7e3-46e06856d4d5","email":"admin@dcxworks.com","firstName":"DCXworks","lastName":"Private Limited","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-23T08:32:53.840Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"digital-agency","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"OiOxeHtpT13Rj2Hx","userActivatedAt":1753271399817,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutHttpRequest":true},"npsSurvey":{"responded":true,"lastShownAt":1755136428381}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-07","isPending":false}}]}}],"tags":[{"createdAt":"2025-08-10T20:56:09.034Z","updatedAt":"2025-08-10T20:56:09.034Z","id":"9NZHxbd4uh6gtgzw","name":"Travel agent"},{"createdAt":"2025-08-10T20:55:59.528Z","updatedAt":"2025-08-10T20:55:59.528Z","id":"cbWOHLOT0I6wsWWp","name":"Travizly"},{"createdAt":"2025-08-10T20:54:24.930Z","updatedAt":"2025-08-10T20:54:24.930Z","id":"mbssRmndtj8TnWsJ","name":"SARAN"}]}