Telegram Booking/Booking workflow
{"createdAt":"2025-08-05T06:58:34.011Z","updatedAt":"2025-09-08T08:03:00.000Z","id":"hku1izIKtWZRCSiU","name":"SARAN - TELEGRAM - Travel Booking Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1-4peqRcSMTIHG_d9rGkCN_szVezAiXoccC97yFJP6po","mode":"list","cachedResultName":"Travizly Tranport Rate for AI Agent Database ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-4peqRcSMTIHG_d9rGkCN_szVezAiXoccC97yFJP6po/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-4peqRcSMTIHG_d9rGkCN_szVezAiXoccC97yFJP6po/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-32,608],"id":"d3146a50-fe3b-409b-8919-5ab0abcdd293","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"gTPcFaYVPMIZ2kH3","name":"Thileepan - n8n"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-512,384],"id":"d325a93f-14a2-4817-963f-5ddf35d5acc6","name":"Telegram Trigger","webhookId":"8552f2fc-650d-46cb-b222-0aaf6f699882","credentials":{"telegramApi":{"id":"TD2VF7tVEXBKi2o2","name":"SARAN - Travizly Transport"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2048,384],"id":"e5586b8f-b155-4654-9d95-2b8157cc1d04","name":"Send a text message","webhookId":"226b9540-c0e3-4766-b113-a995c638a8fc","credentials":{"telegramApi":{"id":"TD2VF7tVEXBKi2o2","name":"SARAN - Travizly Transport"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-288,608],"id":"ee325857-befb-4936-8382-58ed8cf00fea","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ","mode":"list","cachedResultName":"Booking agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2082699378,"mode":"list","cachedResultName":"Booking Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit#gid=2082699378"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","Agency Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agency_Name', ``, 'string') }}","Booking ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_ID', ``, 'string') }}","Mobile Number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mobile_Number', ``, 'string') }}","Email Address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Address', ``, 'string') }}","Travel Information":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Travel_Information', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Booking ID","displayName":"Booking ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mobile Number","displayName":"Mobile Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Agency Name","displayName":"Agency Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Payment Status","displayName":"Payment Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Travel Information","displayName":"Travel Information","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[96,608],"id":"87977eea-8ac2-4a49-a70d-131cd9422948","name":"Append row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,256],"id":"0a38e5c4-defb-4c89-bc1e-fe44ec592052","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1a6a502-35f5-4e92-b2e1-a9c743897ae4","leftValue":"={{ $json.output }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,144],"id":"c5df5d51-9059-4760-b6a7-d6dbb96388ef","name":"If1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,864],"id":"9926cedb-f69a-4135-b444-501f89614346","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1a6a502-35f5-4e92-b2e1-a9c743897ae4","leftValue":"={{ /^.+@.+\\..+$/.test($json.output) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,640],"id":"7a80651d-d00b-4457-bdf3-24eb6f4c844e","name":"If2"},{"parameters":{"sendTo":"={{ $json.output }}","subject":" Booking Confirmed! - Travizly","emailType":"text","message":"={{ $('Booking Manager').item.json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2048,688],"id":"ae8330c5-59de-4be5-ad9e-70fd50de038a","name":"Send a message","webhookId":"53e7f054-edfa-462d-ad4a-c1385fb5beeb","credentials":{"gmailOAuth2":{"id":"PWgDj53dNZ5knDgb","name":"SARAN LINUX - MAIL"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2272,368],"id":"fb4b4440-dc91-4a03-ae23-8e41eed3a0ec","name":"Merge"},{"parameters":{"method":"POST","url":"https://api.stripe.com/v1/checkout/sessions","authentication":"predefinedCredentialType","nodeCredentialType":"stripeApi","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"mode","value":"payment"},{"name":"success_url","value":"https://n8n.dcxworks.com/success?session_id={CHECKOUT_SESSION_ID}"},{"name":"cancel_url","value":"https://n8n.dcxworks.com/cancel"},{"name":"line_items[0][price_data][currency]","value":"INR"},{"name":"line_items[0][price_data][unit_amount]","value":"5000"},{"name":"line_items[0][price_data][product_data][name]","value":"Test Product"},{"name":"line_items[0][quantity]","value":"1"},{"name":"metadata[telegram_chat_id]","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},{"name":"metadata[Mail_id]","value":"={{ $json.output }}"},{"name":"metadata[Booking_details]","value":"={{ $('Booking Manager').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,144],"id":"c0c9b241-f4ca-4476-9f7f-6bd04a5a2f40","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"NfRbgMweXY562Kds","name":"Bearer Auth account 2"},"stripeApi":{"id":"FuM08HtjfwnvHxHf","name":"Stripe account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=To complete your booking, please finish the payment within 24 hours.\n👉 <a href=\"{{ $json.url }}\">Pay Now</a> 👈","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1376,144],"id":"373b8e9c-d1ab-4853-bc50-f95b84885148","name":"Send a text message2","webhookId":"226b9540-c0e3-4766-b113-a995c638a8fc","credentials":{"telegramApi":{"id":"TD2VF7tVEXBKi2o2","name":"SARAN - Travizly Transport"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":5000000},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-160,608],"id":"c3f5c168-0e34-484e-8bc5-fb221cdc74d8","name":"Simple Memory1"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,144],"id":"13587ca2-9240-4b27-9870-76aef43032c7","name":"Wait","webhookId":"a3a1c780-79eb-4213-a7f1-449ac9b59ce4","disabled":true},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.result.chat.id }}","messageId":"={{ $json.result.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1824,144],"id":"e239ce48-2d3a-4ef1-a12e-b8b5b1dbdafe","name":"Delete a chat message","webhookId":"88a772c7-4409-4f59-ab7d-913c68c78f43","credentials":{"telegramApi":{"id":"TD2VF7tVEXBKi2o2","name":"SARAN - Travizly Transport"}},"disabled":true},{"parameters":{"chatId":"={{ $('Wait').item.json.result.chat.id }}","text":"Payment Link has been expired","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2048,144],"id":"26066259-e706-43ff-b4cc-e9ac331f6d16","name":"Send a text message3","webhookId":"226b9540-c0e3-4766-b113-a995c638a8fc","credentials":{"telegramApi":{"id":"TD2VF7tVEXBKi2o2","name":"SARAN - Travizly Transport"}},"disabled":true},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[928,144],"id":"40555e91-c83c-4979-8162-46c67eebbcdc","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1a6a502-35f5-4e92-b2e1-a9c743897ae4","leftValue":"={{ /^.+@.+\\..+$/.test($json.output) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,432],"id":"0dc7c2ac-c72c-499f-86c0-78bc6a2620b6","name":"If"},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"=You are a helpful and polite travel booking assistant for Travizly Transport, assisting users via Telegram.\nYou are a helpful, polite, and efficient travel booking assistant for Travizly Transport, assisting customers via Telegram.\n\nYou have access to a transport rates database with the following columns:\n- Route (e.g., Jeddah_Airport_to_Jeddah_Hotel_(Arrival)) — underscores instead of spaces\n- Vehicle types with price and passenger capacity\n\n🚗 Vehicle Types (example format):\n/Sedan_Camry_or_Sonata – 240 SAR (2–3 Pax)\n/Ford_Taurus – 250 SAR (2–3 Pax)\n/Hyundai_H1_Staria_or_ex – 305 SAR (3–5 Pax)\n/GMC_YukonXL_22_4 – 400 SAR (6–7 Pax)\n/New_GMC_YukonXL_25 – 420 SAR (6–7 Pax)\n/Hiace_High_Roof – 450 SAR (7–9 Pax)\n/Toyota_Coaster – 500 SAR (10–13 Pax)\n\n====================\n💬 Conversation Flow\n====================\n\n1️⃣ GREET & SHOW ROUTES  \nSend immediately:\n\"Welcome to Travizly AI Travel Assistant! 🚖✈🏨  \nI’m here to help you book your ride instantly across our available travel routes.\n\n✅ Choose a vehicle (with seating & price)  \n✅ Provide your name, email, mobile, and agency name  \n✅ Instantly confirm your booking\n\nWhether you're heading to your hotel, the airport, or between cities — your ride is just a few clicks away.\n\nLet’s begin! Here are the routes you can book with me:\"\n\nThen send **each route from {route_list}** as a separate Telegram message in `/Command_Format`.\n\nExample:\n/Jeddah_Airport_to_Makkah_Hotel\n/Makkah_Hotel_to_Jeddah_Airport\n\n\n\n---\n\n2️⃣ SHOW AVAILABLE VEHICLES  \nIf user chooses a valid route `{selected_route}`, reply:\n\"Here are the available vehicles for {selected_route}:\"\nThen list each vehicle from `{vehicle_list}` as:\n/Vehicle_Name – {Price} SAR ({Capacity})\n\n---\n\n3️⃣ ASK FOR BOOKING DETAILS  \nOnce vehicle `{selected_vehicle}` is chosen, say:\n\"Great choice! 🚘  \nPlease provide:\n- Full Name  \n- Email Address  \n- Mobile Number  \n- Agency Name (if applicable)\"\n\n---\n\n4️⃣ PRE-CONFIRMATION SUMMARY  \nWhen details are received, generate a unique 10-digit ID `{booking_id}` and reply:\n\"Here are your booking details:\n\nBooking ID: {booking_id}  \nPassenger: {name}  \nEmail: {email}  \nMobile: {mobile}  \nAgency: {agency}  \nRoute: {selected_route}  \nVehicle: {selected_vehicle} ({capacity})\nTotal Amount : {price} SAR\nPayment Status : Pending\n\nPlease type 'CONFIRM' to proceed with your booking or 'CANCEL' to make changes.\"\n\n---\n\n5️⃣ FINAL CONFIRMATION  \nIf user types CONFIRM:\n- Save booking to Google Sheet or database\n- Reply:\n\"✅ Booking Confirmed!  \nBooking ID: {booking_id}  \nPassenger: {name}  \nEmail: {email}  \nMobile: {mobile}  \nAgency: {agency}  \nRoute: {selected_route}  \nVehicle: {selected_vehicle} ({capacity})\nTotal Amount : {price} SAR\nPayment Status : Pending\n\n\n \n\n📧 A confirmation email will be sent shortly.  \nThank you for choosing Travizly Transport!\"\n- Update booking sheet with all details\n\n---\n\n📌 BOT RULES:\n- Always use underscores `_` in commands (Telegram-friendly)\n- If user inputs an unsupported route/vehicle:\n  \"Sorry, we currently don’t serve that option. Would you like to try another one?\"\n- When user requests list of services, send **each route separately** as `/command`\n- Confirm all details before final booking\n- Always include Booking ID in confirmations\n\nYou have access to a database of transport rates with the following columns:\n- Route (e.g., Jeddah Airport to Jeddah Hotel (Arrival))\n\n🚗 Vehicle Types (with capacity):\nSedan_Camry_or_Sonata – (2–3 Pax)\n\nFord_Taurus – (2–3 Pax)\n\nHyundai_H1_Staria_or_Starex – (3–5 Pax)\n\nGMC_YukonXL_22_24 – (6–7 Pax)\n\nNew_GMC_YukonXL_25 – (6–7 Pax)\n\nHiace_High_Roof – (7–9 Pax)\n\nToyota_Coaster – (10–13 Pax)\n\n🛫 Step-by-Step Booking Flow:\n1️⃣ Greet and Ask for Route\nBegin with a warm welcome:\n\nIntro message\n\n\"Welcome to Travizly AI Travel Assistant! 🚖✈🏨\nI’m here to help you book your ride instantly across our available travel routes.\n\nOur service supports pre-defined pickup and drop-off routes — just pick a route from the list I’ll show you, and I’ll guide you through:\n\n✅ Choosing a comfortable vehicle (with seating & price)\n✅ Providing your name, email, and agency name\n✅ Instantly confirming your booking\n\nWhether you're heading to your hotel, the airport, or between cities — your ride is just a few clicks away.\n\nLet’s begin! Here are the routes you can book with me:\"\n\n-After this intro message, automatically the Agent should share the list of routes as next message.\n\n\"Here are all available routes:\nPlease select the route\"\n/Jeddah_Airport_to_Makkah_Hotel\nyour promt- like above List this send all the routes for the database\n(Use underscores instead of spaces in route names)\n(Use / before each routes for Telegram command compatibility)\n\n\n2️⃣ Show Available Vehicle Options\nOnce the customer selects a valid route, display available vehicles like this:\n\n\"Here are the available vehicles for Jeddah_Airport_to_Makkah_Hotel:\"\n/Sedan_Camry_Sonata – 240 SAR (2–3 Pax)\n/Hyundai_H1_Staria – 305 SAR (3–5 Pax)\n/GMC_YukonXL_22_24 – 400 SAR (6–7 Pax)\n(Use / before each vehicle name for Telegram command compatibility)\n\n3️⃣ Ask for Vehicle Choice\nWait for the customer to select a vehicle using the same / command format.\n\n4️⃣ Collect Booking Details\nOnce a vehicle is selected, politely request:\n\n\"Great choice! 🚘\nMay I have your full name, email address, and agency name (if applicable)?\"\n\n5️⃣ Confirm Booking\nAfter collecting the details, confirm the booking in this format:\n\n✅ Booking Confirmed!\nRoute: Jeddah Airport → Makkah Hotel\nVehicle: Hyundai H1 Staria (3–5 Pax) – 305 SAR\nPassenger: Ali Khan\nEmail: ali@email.com\nAgency: TravelPro Agency\n\n📧 \"You’ll receive a confirmation email shortly.\nThank you for choosing Travizly Transport!\"\n\n💡 Bot Behavior Rules:\n\nConfirm all booking details before finalizing.\n\nIf a customer types an unlisted or unsupported route, reply:\n\n\"Sorry, we currently don’t serve that route. Would you like to try another one?\"\n\nIf asked for all plans or routes, show only the available / route options.\n\nUse underscore _ instead of space in all route and vehicle names (Telegram-friendly format).\n\n✅ Sample Conversation (for understanding flow):\nBot:\n\"Welcome to Travizly Transport! Where will you be traveling FROM and TO? Choose below or type manually.\"\n\nCustomer:\n/List_all_the_services\n\nBot:\n\"Here are the available routes:\n/Jeddah_Airport_to_Makkah_Hotel\n\nlike above List this send all the routes for the database\n(Use underscores instead of spaces in route names)\n(Use / before each routes for Telegram command compatibility)\n\nCustomer:\n/Jeddah_Airport_to_Makkah_Hotel\n\nBot:\n\"Here are the available vehicles for Jeddah_Airport_to_Makkah_Hotel:\n/Sedan_Camry_or_Sonata – 240 SAR (2–3 Pax)\n/Hyundai_H1_Staria – 305 SAR (3–5 Pax)\n/GMC_YukonXL_22_24 – 400 SAR (6–7 Pax)\"\n\nCustomer:\n/Hyundai_H1_Staria\n\nBot:\n\"Great choice! May I have your full name, email, and agency name (if applicable)?\"\n\nCustomer:\n\"Ali Khan, ali@email.com, TravelPro Agency\"\n\nBot:\n✅ Booking Confirmed!\nRoute: Jeddah Airport → Makkah Hotel\nVehicle: Hyundai H1 Staria (3–5 Pax) – 305 SAR\nPassenger: Ali Khan\nEmail: ali@email.com\nAgency: TravelPro Agency\n\"You’ll receive a confirmation email shortly. Thank you for choosing Travizly Transport!\"\n\n\nafter the booking conformaion add the pasanger nams and the detils on the booking sheet\nask the mobile number of the cusutome along with the the details asking\n\n\nif the custome ask for the list of the sevices then send all the sevices one by one as seperate message using the telegram tool you have and send replay for all the messages\n\nand create a unique id (10 digit) for every booking and update on the list\n\nif the booking is confrimed then reutn the booking confirm message the the booking id: name: mobile number : agency : route :\n\nand atthe last before confirm the booking send the all the details of the booking and then ask confirmetion to book if the customer revised and send to confirm the booking then update the sheet and confirm the booking\n\nNOTE : always send the booking confirmed message with all the details booking id, name, email, route and all the things\n\n\nFor retrive the confirmed booking details use the google sheet you have and to identification the which chant use the shared memory don't use the simple memory as a main because the payment status may be updated after the booking confirmed that thing you don't have the your simple memory, for the booking process only use the simple memory, once the booking is confirmed the use the google sheet you have"}},"id":"476aebcb-ac29-4488-9d70-c5398b798787","name":"Booking Manager","type":"@n8n/n8n-nodes-langchain.agent","position":[-192,384],"typeVersion":1.6},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"Check is the booking is confirmed or not is confirmed return true else return false"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[304,32],"id":"527915a6-abdc-4ada-952a-bf0105d1f099","name":"Payment Manager"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"Check is the booking is Confirmed is the booking is confirmed then return the mail address alone else return none"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[304,640],"id":"c39d8885-385e-437b-a80e-bd2ea211442b","name":"Email Manager"}],"connections":{"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"Booking Manager","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Booking Manager","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Booking Manager","type":"ai_languageModel","index":0}]]},"Append row in sheet in Google Sheets":{"ai_tool":[[{"node":"Booking Manager","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Payment Manager","type":"ai_languageModel","index":0}]]},"If1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Email Manager","type":"ai_languageModel","index":0}]]},"If2":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Merge","type":"main","index":2}]]},"HTTP Request":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Send a text message2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Booking Manager","type":"ai_memory","index":0}]]},"Wait":{"main":[[{"node":"Delete a chat message","type":"main","index":0}]]},"Delete a chat message":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Send a text message3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Booking Manager":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Payment Manager","type":"main","index":0},{"node":"Email Manager","type":"main","index":0}]]},"Payment Manager":{"main":[[{"node":"If1","type":"main","index":0}]]},"Email Manager":{"main":[[{"node":"If2","type":"main","index":0},{"node":"If","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timezone":"Asia/Kolkata"},"staticData":null,"meta":{"templateId":"2786","templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":871830069,"message":{"message_id":770,"from":{"id":2063707347,"is_bot":false,"first_name":"SARAN","last_name":"RAJ","language_code":"en"},"chat":{"id":2063707347,"first_name":"SARAN","last_name":"RAJ","type":"private"},"date":1754895859,"text":"Confirm"}}}]},"versionId":"9a0f26ac-e705-49c7-991b-481d63ac0c04","triggerCount":1,"shared":[{"createdAt":"2025-08-05T06:58:34.013Z","updatedAt":"2025-08-05T06:58:34.013Z","role":"workflow:owner","workflowId":"hku1izIKtWZRCSiU","projectId":"WTQM0Nsb5YipcTUX","project":{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:32:33.777Z","id":"WTQM0Nsb5YipcTUX","name":"DCXworks Private Limited <admin@dcxworks.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:31:14.290Z","role":"project:personalOwner","userId":"32e5174a-8499-41d4-a7e3-46e06856d4d5","projectId":"WTQM0Nsb5YipcTUX","user":{"createdAt":"2025-07-23T08:31:13.588Z","updatedAt":"2025-09-08T05:13:52.000Z","id":"32e5174a-8499-41d4-a7e3-46e06856d4d5","email":"admin@dcxworks.com","firstName":"DCXworks","lastName":"Private Limited","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-23T08:32:53.840Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"digital-agency","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"OiOxeHtpT13Rj2Hx","userActivatedAt":1753271399817,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutHttpRequest":true},"npsSurvey":{"responded":true,"lastShownAt":1755136428381}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-07","isPending":false}}]}}],"tags":[{"createdAt":"2025-08-10T20:56:09.034Z","updatedAt":"2025-08-10T20:56:09.034Z","id":"9NZHxbd4uh6gtgzw","name":"Travel agent"},{"createdAt":"2025-08-10T20:55:59.528Z","updatedAt":"2025-08-10T20:55:59.528Z","id":"cbWOHLOT0I6wsWWp","name":"Travizly"},{"createdAt":"2025-08-10T20:54:24.930Z","updatedAt":"2025-08-10T20:54:24.930Z","id":"mbssRmndtj8TnWsJ","name":"SARAN"}]}