Telegram Booking/Payment Catch workflow
{"createdAt":"2025-08-19T09:17:55.071Z","updatedAt":"2025-09-08T08:12:11.000Z","id":"aoebQ2ehTljHijLL","name":"SARAN - STRIP WEBHOOK (Telegram)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"/stripe-webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,80],"id":"92bd741a-f7c4-4f5e-8f4c-133486edf07d","name":"Webhook","webhookId":"6c5e28db-f000-4428-85f9-7436ebf251d9"},{"parameters":{"sendTo":"={{ $('Webhook').item.json.body.data.object.metadata.Mail_id }}","subject":"Payment  Status - Travizly","emailType":"text","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[800,288],"id":"db248934-1b7c-4a1a-93de-dca5db669388","name":"Send a message","webhookId":"0840cdd9-32f7-449c-b553-038af1afc52e","credentials":{"gmailOAuth2":{"id":"PWgDj53dNZ5knDgb","name":"SARAN LINUX - MAIL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13a1be45-1cb6-4e2e-afd5-1acd13992277","leftValue":"={{ $json.body.data.object.invoice }}","rightValue":"null","operator":{"type":"string","operation":"notEquals"}},{"id":"a4a540f5-dc27-4365-926e-3ac62e5219f4","leftValue":"={{ $json.body.data.object.receipt_email }}","rightValue":"null","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,80],"id":"2a0fb7ce-4466-4d50-aa80-9ccfbe02b2e2","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.body.data.object.metadata.Booking_details }}-Amount Recevied{{ $json.body.data.object.amount_received }}, Total amount to pay - {{ $json.body.data.object.amount }}","options":{"systemMessage":"this is the message of the booking confrimation for this booking send the payment staus for Gmail"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[400,288],"id":"2cfd7587-05fe-4ba6-b0b4-c87325bad93d","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,512],"id":"71432e5b-5654-436d-8ace-fbee794db0bf","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.request.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[560,512],"id":"c8b576d6-df70-4a63-b016-e673b37f3132","name":"Simple Memory1"},{"parameters":{"promptType":"define","text":"=Booking message - {{ $json.body.data.object.metadata.Booking_details }}, Payment status or amount recived - {{ $json.body.data.object.amount_received }}, Total amount shout have to pay - {{ $json.body.data.object.amount }}","options":{"systemMessage":"You are a helpful assistant\n\nthen message you got as user message is have all the booking details, what is you work by use of the booking confirm message you should update paymet staust on the google sheet you have in the tools"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[400,-224],"id":"a47940d8-a026-43bc-bf46-fbc29a1ca2e4","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,0],"id":"2e8b65de-cd6d-44c5-b077-21f843c6488f","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"BrorAjaby87F5a6C","name":"Thileepan-OpenAI"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ","mode":"list","cachedResultName":"Booking agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2082699378,"mode":"list","cachedResultName":"Booking Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VCDQARAM-3PeUpto_BwcIoXxWo1sImmWFpWBf5eiboQ/edit#gid=2082699378"},"columns":{"mappingMode":"defineBelow","value":{"Booking ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_ID__using_to_match_', ``, 'string') }}","Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","Mobile Number":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mobile_Number', ``, 'string') }}","Email Address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Address', ``, 'string') }}","Agency Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Agency_Name', ``, 'string') }}","Payment Status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Payment_Status', ``, 'string') }}","Travel Information":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Travel_Information', ``, 'string') }}"},"matchingColumns":["Booking ID"],"schema":[{"id":"Booking ID","displayName":"Booking ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mobile Number","displayName":"Mobile Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Agency Name","displayName":"Agency Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Payment Status","displayName":"Payment Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Travel Information","displayName":"Travel Information","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[560,0],"id":"4995bc4b-2312-4b8b-b9ef-cc8d3c4297b2","name":"Append or update row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,288],"id":"27cd8d5f-058f-42b6-9e4c-e879cc67b611","name":"Send a text message","webhookId":"851833f2-5212-4566-9037-c061f0ca079d","credentials":{"telegramApi":{"id":"TbGW0DqvJ1TAjV2G","name":"ZeptoBot"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent1","type":"main","index":0},{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Append or update row in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5063c8f0-f46d-4ba0-9146-4da7eeb6c5d7","triggerCount":1,"shared":[{"createdAt":"2025-08-19T09:17:55.073Z","updatedAt":"2025-08-19T09:17:55.073Z","role":"workflow:owner","workflowId":"aoebQ2ehTljHijLL","projectId":"WTQM0Nsb5YipcTUX","project":{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:32:33.777Z","id":"WTQM0Nsb5YipcTUX","name":"DCXworks Private Limited <admin@dcxworks.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:31:14.290Z","role":"project:personalOwner","userId":"32e5174a-8499-41d4-a7e3-46e06856d4d5","projectId":"WTQM0Nsb5YipcTUX","user":{"createdAt":"2025-07-23T08:31:13.588Z","updatedAt":"2025-09-08T05:13:52.000Z","id":"32e5174a-8499-41d4-a7e3-46e06856d4d5","email":"admin@dcxworks.com","firstName":"DCXworks","lastName":"Private Limited","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-23T08:32:53.840Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"digital-agency","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"OiOxeHtpT13Rj2Hx","userActivatedAt":1753271399817,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutHttpRequest":true},"npsSurvey":{"responded":true,"lastShownAt":1755136428381}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-07","isPending":false}}]}}],"tags":[{"createdAt":"2025-08-10T20:56:09.034Z","updatedAt":"2025-08-10T20:56:09.034Z","id":"9NZHxbd4uh6gtgzw","name":"Travel agent"},{"createdAt":"2025-08-10T20:55:59.528Z","updatedAt":"2025-08-10T20:55:59.528Z","id":"cbWOHLOT0I6wsWWp","name":"Travizly"},{"createdAt":"2025-08-10T20:54:24.930Z","updatedAt":"2025-08-10T20:54:24.930Z","id":"mbssRmndtj8TnWsJ","name":"SARAN"}]}